@model CardPro.UI.Models.CardTypeViewModel

@{
    ViewData["Title"] = "Card Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.CreditLimit > 0)
{
    <h4>New Card!!</h4>
}
else
{
    <h4>Oops</h4>
    <hr />
}

<div>

    @if (Model.CreditLimit > 0)
    {
        <h7>Please see the best suitable card for you </h7>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CardTypeName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CardTypeName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CardCategory)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CardCategory)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreditLimit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreditLimit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CashLimit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CashLimit)
            </dd>
            <dt class="col-sm-2">
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.Image" alt="" />
            </dd>
            <dd class="col-sm-10">
                Please feel free to message for any query.
            </dd>
        </dl>
    }
    else
    {
        <dl class="row">
            <dd class="col-sm-10">
                Sorry, We are not able to provide any cards based on the details collected from you.
            </dd>
        </dl>
    }
</div>